*{
  margin: 0;
  padding:0;
}

body{
 background-color:#caf0f8 ;
 
}
nav{
  background-color:#023e8a;
  font-size :1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display:flex;
  justify-content:space-around;
  align-items:center;
  min-height: 50px;
  width:100vw;
  position :fixed;
}

a{
  text-decoration: none;
  color:#ccc;
}

ul{
  list-style: none;
  display :flex;
  justify-content:space-between;
  width:390px;
}

/* for  making the navbar responsive we will use media queries*/
@media screen and (max-width:530px)
{

  nav ,ul{
    flex-direction: column;
    align-items:center;
  }
}


i{
  display :flex;
  margin-left:10px;
}

#art1{
  width:90%;
  hieght:550px;
}

.slider{
   width:90%;
   height: 550px;
   position: absolute;
   left:50%;
   top:50%;
   transform:translate(-50% ,-50%); 
   background-image: url('./image1.jpg');
   background-size: 100% 100%;
   animation:roll 14s infinite linear;
   box-shadow: 1px 2px 10px #023e8a;
}

@media screen and (max-width:530px){
  .slider{
    width:90%;
    hieght:380px;
    position: absolute;
    margin-top: 100px;
    left:50%;
    top:50%;
    transform:translate(-50% ,-50%); 

  }
}

@keyframes roll {
  0%{
    background-image: url('./image1.jpg');
  }
  20%{
    background-image: url('./imagee2.jpg');
  }
  40%{
    background-image: url('./image3.jpg');
  }
  60%{
    background-image: url('./image4.jpg');
  }
  80%{
   background-image: url('./image5.jpg');
  }
  100%{
  }
}

.cards{
   width:100vw;
  /* box-shadow: 1px 2px 10px #023e8a;*/
   margin:  900px auto;
   font-family: Arial, Helvetica, sans-serif;
   display:flex;
   flex-wrap: wrap;
   justify-content:space-evenly;
   align-items:center;

}

article figure{
  width:350px;
}

article figure img{
 width :80%;
 height :80%; 
 padding :20px 35px;
 box-shadow: 1px 2px 10px black;
}
article figure img:hover{
 transform: scale(1.01);
 transition: all 0.3s;
 cursor :pointer;

}

article h3{
 font-size: 1.8rem; 
}

article p{
 font-size: 1.4rem; 
}

article button{
 padding : 10px 30px;
 margin-bottom: 10px;
 font-size: 1rem;
 color:#ccc;
 background-color:#f94144;

}
figcaption {
  text-align: center;
}

footer{
 
  margin-top:800px;  
  background: #023e8a;
  hieght:auto;
  width:100vw;
  font-family: "Open-sans";
  padding:40px;
  color:#fff;
}

.footer-content{
  
  display :flex;
  align-items: center;
  justify-content:center;
  flex-direction:column ;
  text-align: center;
}

.footer-content h3{
  font-size:1.8rem;
  font-weight: 400; 
  text-transform: capitalize;
  line-height:3rem; 
}

.footer-content p{
  max-width:500px;
  margin:10px auto;
  line-height: 28px;
  font-size:14px; 
}

.socials{
  list-style: none; 
  display:flex;
  align-items: center;  
  justify-content:center;
  margin:1rem 0 3rem 0;
}

.socials li {
  margin 0 10px;
}


.socials a{
  text-decoration:none; 
  color:#fff;
}

.socials a i{
  font-size: 1.1rem;
  transition:color .4s ease;  
}

.social a :hover i{
  
  color:crimson;    
}

.footer-bottom{
   background: #000;
   width:100vw;
   margin-left:0;
   padding:20px  20px;
   text-align: center;  
}

.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer span {
    text-transform: uppercase;
    opacity:.4;
    font-weight: 200;
}

